@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&family=Montserrat:wght@200&family=Mr+Dafoe&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  text-align: center;
  background-color: #c9dadf;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-right: auto;
  width: 100%;
  max-width: 1800px; /* Adjust the value as needed */
}

/*Navigation*/
.navigation {
  clear:both;
  overflow: hidden;
}

nav ul {
  list-style-type:none;
  display:list-item;
  padding: 18px ;
  background-size: 150% 100%;
  background-image: linear-gradient(-40deg, #afe0e0, #181e38, #71c9ba, #6f8696,#84d4ee);
  animation: 15s myGradient infinite;
  border-radius: 85px;
  box-shadow: 5px 5px 20px #2c5ba3;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 6px;
}

nav ul li {
  display: inline-block;
  margin-right: 100px;
}

nav ul li a {
  text-decoration: none;
  color: #ece4e4;
  padding: 5px;
}

nav ul li a.active {
  color: rgb(7, 47, 73);
  text-decoration: none;
  padding: 40px 40px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 22px;
  letter-spacing: 1px;
  opacity: 0.8;
}

nav ul li a:hover {
  color: #c3eede;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #0e5241;
  transition: 2s;
  margin-top: -100px;
}

/*Locations Cards*/
.locations-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  width: 105%;
  padding: 5px;
  box-sizing:content-box;
  margin: 0 auto;

}

.locations-card div {
  position: relative;
  overflow: hidden;
  transition: transform 0.20s;
  border-radius: 1px;
  box-shadow: 2px  5px 20px #162d6b;
}

.locations-card div:hover {
  transform: scale(1.1);
}

.locations-card p {
  margin: 5;
  
}

.locations-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.viewLink {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 50px;
  background-color: rgb(199, 217, 224);
  text-decoration: none;
  color: rgb(21, 19, 150);
  font-style: oblique;
}

.description {
  text-align: center;
 text-size-adjust: 50%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.locations-container {
  
  width: 90%;
  max-width: 1000px; /* Adjust the value as needed */
  margin: 0 auto;
  
}
/*Inquire Form*/

.inquire-form {
  background-color: #c2d4da;
  padding: 5px 50px;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.inquire-form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.inquire-form p {
  color: #777;
  margin-bottom: 20px;
}

.error-list {
  color: #161414;
  list-style:none;
  text-align: center;
  padding: 0;
}

.inquire-form__form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.inquire-form__form input,
.inquire-form__form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.inquire-form__form textarea {
  height: 100px;
}

.primary {
  background-color: #007bff;
  color: #d0d9df;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.primary:hover {
  background-color: #addbe4;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

/*Activities Cards*/
.activity-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
  width: 55%;
  padding: 0px;
  box-sizing:content-box;
  margin: 0 auto;
}

.activity-card {
  border-radius: 0px;
  box-shadow: 0px 2px #859e9a;
  border: 0px solid #22292b;
  padding: 0px;
}


.activity-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.activity-card h3 {
  font-size: 18px;
  text-align: center;
  font-family:monospace;
  margin-bottom: 20px;
}

.activity-card p {
  margin-bottom: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  font-size: 16px;
}

.activity-card h4 {
  font-size: 16px;
  font-family:monospace;
  margin-top: 18px;
}

.activity-card h4 span {
  font-family:monospace;
  font-weight: bold;
}
.activity-container p{
font-family: monospace;
font-weight: bold;
font-size: 16px;
}
/*Login*/
.Login {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px;
  background-color: #c2d4da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Login h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Login input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Login button {
  padding: 10px;
  background-color: #185279;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Login button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Login li {
  color: black;
  margin-bottom: 5px;
}
/*SignUp*/
.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #c2d4da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form textarea,
.signup-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form input[type="file"] {
  padding: 0;
}

.signup-form button {
  padding: 10px;
  background-color: #0c4164;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.signup-form button.primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-form li {
  color: black;
  margin-bottom: 5px;
}

/*Thumbnail*/
.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.thumbnail p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
/*admin-portal*/

.admin-portal {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.admin-portal__header {
  margin-bottom: 20px;
}

.admin-portal__thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-portal__links {
  background-color: #0a2531;
  padding: 20px;
}

.admin-portal__links p {
  margin-bottom: 10px;
  color: white;
}

.admin-portal__links a {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f0e8e8;
  text-decoration: none;
}

.admin-portal__links a:hover {
  color: #0fc5c5;
}

.link-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.link-button:hover {
  background-color: #f2f2f2;
}
/*LOGOUT*/
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.some-button {
  background-color: #296075;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.popup {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.popup p {
  margin-right: 10px;
}

.popup button {
  background-color: #296075;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}
/*Villas Page*/
.all-villas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-card {
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 20px;
  text-align: center;
}

.villa-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.villa-details h4 {
  display: inline-block;
  margin: 0 8px;
}

.villa-info {
  text-align: center;
  padding: 20px 50px;
  margin-bottom: 10px;
}

.villa-info h3 {
  margin-bottom: 10px;
}

.villa-info p {
  margin-bottom: 5px;
  text-align: justify;
}

.villa-button {
  background-color: #062358;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.villa-button:disabled {
  background-color: #81c5d1c2;
  cursor: not-allowed;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
}

h2,
h4 {
  display: inline-block;
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.view-card .carousel-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-card .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.view-card .carousel .slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.view-card .carousel .thumbs-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 20px;
}

.view-card:hover .carousel .slide img {
  transform: scale(1.05);
}

h2 {
  margin-bottom: 10px;
}

/*About Us*/
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 110px;
  text-align: center;
}

.villa-pic {
  margin-bottom: 10px;
  border: 3px solid rgba(14, 10, 10, 0.089);
  border-radius: 5px;
  padding: 6px;
}

ul {
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 5px;
}

/* CSS for LocationVillaPage */
.locations-villa {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #c9dadf;
}
.locationsvilla-wrapper {
  max-width: 700px;
  margin: 0 auto;
}

.locations-villa h3 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.locations-villa h4 {
  color: #666;
  font-size: 18px;
  margin-bottom: 8px;
}

.locations-villa em {
  font-style: italic;
}

.villa-card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #c9dadf;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.villa-images-carousel {
  /* Adjust carousel size as per your preference */
  width: 400%;
  height: 60%;
  /* Add other carousel styles */
  transition: transform 0.5s ease-in-out;
}

.villa-images-carousel .carousel-root {
  height: 100%;
}

.some-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #296075;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.some-button:hover {
  background-color: #666;
}

/*Add Location*/
.add-location {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #c9dadf;
  border: 2px solid #e0ebf5;
  border-radius: 6px;
}

.add-location h2 {
  font-size: 24px;
  margin-bottom: 60px;
}

.add-location label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.add-location input[type="text"],
.add-location textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-location textarea {
  height: 120px;
}

.add-location button[type="submit"] {
  background-color: #1e4c61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-location button[type="submit"]:hover {
  background-color: #546355;
}

.add-location ul {
  margin-top: 10px;
  list-style-type: none;
}

.add-location ul li {
  color: rgb(32, 32, 173);
  text-align: center;
}

/*Filter*/
.filter {
  margin-bottom: 20px;
}

select {
  padding: 10px;
  font-size: 14px;
  font-family:monospace;
  background-color: #1e948e;
  color: white;
  border: 1px solid #0d965186;
  border-radius: 100px;
  box-shadow: 10px 10px 30px #2c5ba3;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.option-filter {
  font-family:monospace;
  font-size: 16px;
  
}
/*Incoming Inquiry*/
.inquiry-box {
  background-color: #0a283f;
  color: #87c0c0;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.inquiry h4 {
  color: #7aa89e;
}

.inquiry p {
  margin: 5px 0;
  text-align: center;
}

.inquiry-container {
  width: 100%; /* Adjust the width as needed */
}

.inquiry-wrapper {
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the wrapper horizontally */
}
/*Activity Form*/
.add-activity {
  background-color: #dbf0f7;
  padding: 25px;
  border-radius: 5px;
  margin-bottom: 20px;
  max-width: 500px; /* Adjust the max-width value as needed */
  margin: 0 auto; /* Center the form horizontally */
}

.add-activity h2 {
  margin-bottom: 10px;
  color: #333;
}

.add-activity form {
  display: flex;
  flex-direction: column;
}

.add-activity label {
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

.add-activity input,
.add-activity textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 14px;
}

.add-activity input[type="text"],
.add-activity textarea {
  width: 90%;
}

.add-activity input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.add-activity input[type="submit"]:hover {
  background-color: #45a049;
}
/*Update Form*/
.edit-form {
  width: 500px;
  margin: 0 auto;
  padding: 28px;
  background-color: #5799aa;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.edit-form h4 {
  font-size: 18px;
  color: #0fc5c5;
  margin-bottom: 10px;
}

.edit-form form {
  display: flex;
  flex-direction: column;
}

.edit-form h5 {
  font-size: 14px;
  margin-top: 15px;
  
}

.edit-form input[type="text"],
.edit-form input[type="number"],
.edit-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.edit-form ul {
  margin-top: 15px;
  padding-left: 20px;
  color: black;
}
/*Villas Component Edit*/
.villa-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.villas-edit {
  width: 600px;
  padding: 20px;
  margin: 20px;
  background-color: #071e24;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.villas-edit h3 {
  font-size: 20px;
  color: #0fc5c5;
  margin-bottom: 10px;
}

.villas-edit img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 10px;
}

.villas-edit h4,
.villas-edit h5 {
  margin-top: 10px;
  color: #bce0e0;
  text-align: justify;
}

/*search*/
.advanced-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advanced-search input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #90d1ab;
  border-radius: 20px;
  width: 500px;
  margin-left: 50px;
  margin-right: 10px;
  outline: none;
}

input[type="text"]::placeholder {
  color: #3a6e91a4;
}

.search-btn {
  padding: 8px 10px;
  font-size: 16px;
  background-color: #afc9c2;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.search-btn:hover {
  background-color: #8bd1d1;
}

.search-btn:focus {
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
/*Add Villa Form*/
.villa-form {
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

.error-list {
  color: red;
  list-style: none;
  padding: 0;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
}

input[type="text"],
textarea,
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #c2b8b8;
  border-radius: 20px;
}

button.primary {
  margin-top: 20px;
  background-color: #4f565e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button.primary:hover {
  background-color: #2c6452;
}

button.primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
/* CSS for the villa-details-container */
.villa-details-container {
  max-width: 900px;
  margin: 0 auto;
}

/* CSS for the villa-title */
.villa-title {
  font-size: 24px;
  margin-bottom: 10px;
}

/* CSS for the villa-info */
.villa-info {
  margin-bottom: 20px;
}

/* CSS for the Carousel */
.carousel {
  width: 90%;
}

/* CSS for the Carousel images */
.carousel img {
  width: 80%; /* Adjust the image size as needed */
  height: 70%; /* Adjust the image size as needed */
}

/* CSS for the villa-details */
.villa-details {
  margin-bottom: 20px;
}

/* CSS for the h4 elements inside villa-details */
.villa-details h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

/* CSS for the villa-info inside villa-details */
.villa-details .villa-info {
  margin-bottom: 10px;
}

/* CSS for the h3 elements inside villa-details */
.villa-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* CSS for the p elements inside villa-details */
.villa-details p {
  font-size: 16px;
  margin-bottom: 10px;
}

