@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lato:wght@300&family=Montserrat:wght@200&family=Mr+Dafoe&family=Roboto&display=swap');

.App {
  text-align: center;
}

body {
  text-align: center;
  background-color: #c9dadf;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: lighter;
  margin-right: auto;
  width: 100%;
  max-width: 1500px; /* Adjust the value as needed */
}

/*Header*/
.header {
  display: center;
  align-items: flex-start;
}

/*Navigation*/
.navigation {
  clear:both;
  overflow: hidden;
}

nav ul {
  list-style-type:none;
  display:list-item;
  padding: 15px ;
  background-size: 150% 100%;
  background-image: linear-gradient(-40deg, #313636, #181e38, #8eb7d3, #79abcc,#879da5);
  animation: 15s myGradient infinite;
  border-radius: 95px;
  box-shadow: 5px 5px 20px #2c5ba3;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 80px;
}

nav ul li a {
  text-decoration: none;
  color: #080808;
  padding: 5px;
}

nav ul li a.active {
  color: #504444;
  text-decoration: none;
  padding: 40px 40px;
  font-family: verdana;
  font-weight: lighter;
  font-size: 22px;
  letter-spacing: 1px;
  opacity: 0.8;
}

nav ul li a:hover {
  color: #fff;
  animation: 1.5s myFlash linear infinite;
  text-shadow: 2px 2px 30px #0e5241;
  transition: 2s;
  margin-top: -100px;
}

/*Locations Cards*/
.locations-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  width: 95%;
  padding: 10px;
  box-sizing:content-box;
  margin: 0 auto;

}

.locations-card div {
  position: relative;
  overflow: hidden;
  transition: transform 0.20s;
  border-radius: 1px;
  box-shadow: 2px  5px 20px #162d6b;
}

.locations-card div:hover {
  transform: scale(1.1);
}

.locations-card p {
  margin: 10;
  
}

.locations-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.viewLink {
  display: inline-block;
  margin-top: 5px;
  padding: 10px 50px;
  background-color: rgb(199, 217, 224);
  text-decoration: none;
  color: rgb(32, 29, 41);
  font-style: oblique;
}

.description {
  text-align: center;
 text-size-adjust: 80%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.locations-container {
  height: 1200px; /* Adjust the height as per your requirement */
  width: 80%;
  max-width: 1500px; /* Adjust the value as needed */
  margin: 0 auto;
  
}


/*Inquire Form*/

.inquire-form {
  background-color: #c2d4da;
  padding: 5px 50px;
  border-radius: 0px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.inquire-form h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.inquire-form p {
  color: #777;
  margin-bottom: 20px;
}

.error-list {
  color: #ff0000;
  list-style: none;
  padding: 0;
}

.inquire-form__form label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}

.inquire-form__form input,
.inquire-form__form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}

.inquire-form__form textarea {
  height: 100px;
}

.primary {
  background-color: #007bff;
  color: #d0d9df;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.primary:hover {
  background-color: #addbe4;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

/*Activities Cards*/
.activity-card {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0px;
  width: 55%;
  padding: 0px;
  box-sizing:content-box;
  margin: 0 auto;
}

.activity-card {
  border-radius: 0px;
  box-shadow: 0px 2px #859e9a;
  border: 0px solid #22292b;
  padding: 0px;
}


.activity-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.activity-card h3 {
  font-size: 18px;
  font-family:monospace;
  margin-bottom: 20px;
}

.activity-card p {
  margin-bottom: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.activity-card h4 {
  font-size: 16px;
  font-family:monospace;
  margin-top: 18px;
}

.activity-card h4 span {
  font-family:monospace;
  font-weight: bold;
}
.activity-container p{
font-family: monospace;
font-weight: bold;
font-size: 16px;
}
/*Login*/
.Login {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #c2d4da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Login h1 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Login input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.Login button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.Login button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Login li {
  color: black;
  margin-bottom: 5px;
}
/*SignUp*/
.signup-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #c2d4da;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.signup-form input,
.signup-form textarea,
.signup-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signup-form input[type="file"] {
  padding: 0;
}

.signup-form button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-form button.primary:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-form li {
  color: black;
  margin-bottom: 5px;
}

/*Thumbnail*/
.thumbnail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.thumbnail p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
/*admin-portal*/

.admin-portal {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.admin-portal__header {
  margin-bottom: 20px;
}

.admin-portal__thumbnail {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-portal__links {
  background-color: #8fcfec;
  padding: 20px;
}

.admin-portal__links p {
  margin-bottom: 10px;
}

.admin-portal__links a {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #241e1e;
  text-decoration: none;
}

.admin-portal__links a:hover {
  color: #ccb8b8;
}

.link-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.link-button:hover {
  background-color: #f2f2f2;
}
