.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.header {
  background-color: #f1f1f1;
  padding: 0px;
  display: flex;
  align-items: flex-start;
}

.header-image {
  max-width: 150%;
  height: auto;
}






